@mixin backgroundM($height, $bkgrep, $bkgsz, $textal) {
  height: $height;
  background-repeat: $bkgrep;
  background-size: $bkgsz;
  text-align: $textal;
}

@mixin transparentTitle($color, $fontSize, $opacity, $textShadow) {
  color: $color;
  font-size: $fontSize;
  opacity: $opacity;
  text-shadow: $textShadow;
}
