/*SECTIONS*/
.section {
  padding-top: 8vh;
  h2 {
    color: white;
    font-size: 10vw;
    opacity: 0.5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 10vh;
  }
  a {
    text-decoration: none;
  }
}

.section-hombre-culotes {
  @include backgroundM(30vh, no-repeat, cover, center);
  background-position: center;
  background-image: url(../MEDIA/imagenes/culotes-ciclismo-hombre-verano.jpeg);
}

.section-hombre-maillots {
  @include backgroundM(30vh, no-repeat, cover, center);
  background-image: url(../MEDIA/imagenes/maillots-ciclismo-hombre.jpeg);
  background-position: right;
}

.section-mujer-culotes {
  @include backgroundM(30vh, no-repeat, cover, center);
  background-image: url(../MEDIA/imagenes/culotes-otono-invierno-mujer.jpeg);
  background-position: center;
}

.section-mujer-maillots {
  @include backgroundM(30vh, no-repeat, cover, center);
  background-image: url(../MEDIA/imagenes/maillots-ciclismo-mujer.jpeg);
  background-position: center;
}

.section-accesorios {
  @include backgroundM(30vh, no-repeat, cover, center);
  background-image: url(../MEDIA/imagenes/accesorios-ciclismo.jpeg);
  background-position: center;
}

.section-contacto {
  height: 25vh;
  text-align: center;
  h2 {
    color: white;
    font-size: 10vw;
    opacity: 0.5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 10vh;
  }
  a {
    text-decoration: none;
  }
}

/*DESTACADOS*/

.m-3 {
  margin: 3 !important;
}

.destacado-hombre {
  background-image: url(../MEDIA/imagenes/destacados/destacado-hombre.jpeg);
  height: 60vh;
  background-size: cover;
  border-radius: 1%;
}

.destacado-mujer {
  background-image: url(../MEDIA/imagenes/destacados/destacado-mujer.jpeg);
  height: 60vh;
  background-size: cover;
  border-radius: 1%;
}

.destacado {
  h2 {
    color: white;
  }
}

/*MAGAZINE*/

.card {
  margin: 0 0.5rem;
}

/*HANDMADE*/

video {
  width: 100%;
  height: auto;
}

/*IFRAME*/

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*FOOTER*/

.footer-top {
  height: 100px;
  line-height: 10vh;
  a {
    text-decoration: none;
    color: black;
  }
  & a:visited {
    text-decoration: none;
    color: black;
  }
}

.footer-bottom {
  background-color: black;
  color: white;
  line-height: 2vh;
  padding-top: 2vh;
  font-size: smaller;
}
